@page "/School/{Id:int}"
@inherits SchoolBase

@if(School == null && ErrorMessage == null)
{
    <h3>Loading school...</h3>
}
else if(ErrorMessage != null)
{
    <h3 class="text-danger">@ErrorMessage</h3>
}
else
{
    <h3 class="mb-5">School</h3>
    <div>
        <h4>School Id: @School.Id</h4>
        <h4>FullName: @School.FullName</h4>
        <h4>City: @School.City</h4>
        <h4>Street: @School.Street</h4>
        <h4>Number: @School.Number</h4>

        @foreach (var student in School.Students)
        {
            <h6><a href="#">Student Id: @student.Id</a></h6>
            <h6>Name: @student.Name</h6>
            <h6>Surname: @student.Surname</h6>
            <h6>Index: @student.StudentIndex</h6>
            <br />
        }
    </div>
}
