@using SchoolTaskModels.Dtos
@model IEnumerable<SchoolDto>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">School List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="School" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New School
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table table-bordered table-striped" style="width:100%">

        <thead>

            <tr>
                <th>
                    FullName
                </th>
                <th>
                    City
                </th>
                <th>
                    Street
                </th>
                <th>
                    Number
                </th>
                <th>
                    SchoolType
                </th>

            </tr>

        </thead>

        <tbody>

            @foreach (var school in Model)
            {
                <tr>
                    <td>
                        @school.FullName
                    </td>
                    <td>
                        @school.City
                    </td>
                    <td>
                        @school.Street
                    </td>
                    <td>
                        @school.Number
                    </td>
                    <td>
                        @school.SchoolType
                    </td>

                    @*@foreach (var student in school.Students)
                    {
                        <td>
                            <div>@student.Name | @student.Surname | @student.StudentIndex</div>
                        </td>
                    }*@

                </tr>
            }

        </tbody>

    </table>
</div>

